<div class="row">
    <h1 align="center">
        <span>Сравнение профилей</span>
    </h1>
    <form class="form-inline" ng-submit="$ctrl.getStudentsDocuments()">
        <input type="text" class="form-control" placeholder="ID студента №1" ng-model="$ctrl.firstStudentId">
        <input type="text" class="form-control" placeholder="ID студента №2" ng-model="$ctrl.secondStudentId">
        <button type="submit" class="btn btn-default">Сравнить профили</button>
    </form>
    <div name="ShowStudentsCompare" class="container" ng-show="true">
        <h2>Сравнение документов студентов</h2>
        <div class="col-lg-12">
            <div class="col-lg-6" ng-repeat="student in $ctrl.result">
                <h3>Документы студента {{student.student.fio}}</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Заголовок</th>
                        <th>Категория</th>
                        <th>Предмет</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="documents in student.documents">
                    <tr ng-repeat="document in documents">
                        <td>{{document.title}}</td>
                        <td>
                            <span ng-switch="document.category">
                                <span ng-switch-when="labs">Отчет по лабораторной работе</span>
                                <span ng-switch-when="medical">Медицинская справка</span>
                                <span ng-switch-when="theses">Тезисы</span>
                                <span ng-switch-when="courseProject">Курсовой проект</span>
                                <span ng-switch-default>Другое</span>
                            </span>
                        </td>
                        <td>{{document.subject}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>