<div class="row">
    <h1 align="center">
        <span>Информация студента</span>
        <button class="btn btn-secondary pull-right" type="button" ng-click="$ctrl.newDocument()">Новый документ</button>
        <button class="btn btn-secondary pull-right" type="button" ng-click="$ctrl.downloadDocument()">Скачать документ</button>
    </h1>

    <div class="col-lg-12" ng-show="!$ctrl.showNewDocumentForm && !$ctrl.showDownloadDocumentForm">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 text-center">
                <div class="input-group">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.getStudentData()">Информацио о студенте</button>
                      </span>
                    <input type="text" class="form-control" placeholder="Student ID" ng-model="$ctrl.studentId">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.getStudentDocuments()">Документы студента</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div name="ShowStudentInfo" class="row" ng-show="$ctrl.studetData && !$ctrl.showNewDocumentForm && !$ctrl.showDownloadDocumentForm">
        <h2>Информация о студенте</h2>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>ФИО</td>
                    <td ng-bind = "$ctrl.studetData.fio"></td>
                </tr>
                <tr>
                    <td>Группа</td>
                    <td ng-bind = "$ctrl.studetData.group"></td>
                </tr>
                <tr>
                    <td>studentBook</td>
                    <td ng-bind = "$ctrl.studetData.studentBook"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td ng-bind = "$ctrl.studetData.email"></td>
                </tr>
                <tr>
                    <td>groupNumber</td>
                    <td ng-bind = "$ctrl.studetData.groupNumber"></td>
                </tr>
                <tr>
                    <td>Курс</td>
                    <td ng-bind = "$ctrl.studetData.course"></td>
                </tr>
                <tr>
                    <td>number</td>
                    <td ng-bind = "$ctrl.studetData.number"></td>
                </tr>
                <tr>
                    <td>На бюджете</td>
                    <td ng-bind = "$ctrl.studetData.onBudget"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div name="ShowStudentDocuments" class="container" ng-show="$ctrl.studentDocuments && !$ctrl.showNewDocumentForm && !$ctrl.showDownloadDocumentForm" >
        <h2>Документы студента</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Категория</th>
                    <th>Предмет</th>
                </tr>
            </thead>
            <tbody ng-repeat="documents in $ctrl.studentDocuments.documents">
                <tr ng-repeat="document in documents">
                    <td>{{document.title}}</td>
                    <td>
                        <span ng-switch="document.category">
                            <span ng-switch-when="labs">Отчет по лабораторной работе</span>
                            <span ng-switch-when="medical">Медицинская справка</span>
                            <span ng-switch-when="theses">Тезисы</span>
                            <span ng-switch-when="courseProject">Курсовой проект</span>
                            <span ng-switch-default>Другое</span>
                        </span>
                    </td>
                    <td>{{document.subject}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div name="ShowDocumentUpload" class="container" ng-show="$ctrl.showNewDocumentForm">
        <h2>Загрузка нового документа</h2>
        <form ng-submit="$ctrl.uploadDocument()" name="fileUpload" novalidate>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title">Заголовок</label>
                    <input name="title" type="text" class="form-control" id="title" placeholder="Заголовок" ng-model="$ctrl.newDocumentData.documentTitle" required>
                    <div ng-messages="fileUpload.title.$error" style="color:maroon" role="alert" ng-show="fileUpload.$submitted">
                        <div ng-message="required">Введите заголовок</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="subject">Предмет</label>
                    <input type="text" class="form-control" id="subject" placeholder="ООП, СТА, МОАП" ng-model="$ctrl.newDocumentData.documentSubject">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 ">
                    <label for="sudentId">ID студента</label>
                    <input name="sudentId" type="text" class="form-control" id="sudentId" placeholder="ID студента" ng-model="$ctrl.newDocumentData.documentStudentId" required>
                    <div ng-messages="fileUpload.sudentId.$error" style="color:maroon" role="alert" ng-show="fileUpload.$submitted">
                        <div ng-message="required">Введите ID студента</div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="inputState">Категория</label>
                <select name="category" id="inputState" class="form-control" ng-model="$ctrl.newDocumentData.documentCategory">
                    <option value="{{category.val}}" ng-repeat="category in $ctrl.docementCategories">
                        <span>{{category.name}}</span>
                    </option>
                </select>
                <div ng-messages="fileUpload.category.$error" style="color:maroon" role="alert" ng-show="fileUpload.$valid" required>
                    <div ng-message="required">Выберите категорию</div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" ng-model="$ctrl.newDocumentData.isPublic">
                    <label class="form-check-label" for="gridCheck">
                        Публичный документ?
                    </label>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="form-check">
                    <input name="file" class="form-check-input" type="file" file-model="$ctrl.myFile"/>
                </div>
                <div ng-messages="fileUpload.file.$error" style="color:maroon" role="alert" ng-show="fileUpload.$submitted" required>
                    <div ng-message="required">Добавьте документ</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-md-2">Загрузить документ</button>

        </form>
    </div>
    <div name="ShowDocumentDownload" class="container" ng-show="$ctrl.showDownloadDocumentForm">
        <h2>Скачивание документа</h2>
        <form ng-submit="$ctrl.downloadDocumentByTitle()" name="fileDownload" novalidate>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="title1">Заголовок</label>
                    <input name="title1" type="text" class="form-control" id="title1" placeholder="Заголовок" ng-model="$ctrl.downloadDocumentTitle" required>
                    <div ng-messages="fileDownload.title1.$error" style="color:maroon" role="alert" ng-show="fileDownload.$submitted">
                        <div ng-message="required">Введите заголовок</div>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-primary col-md-2">Загрузить документ</button>

        </form>
    </div>
</div>

