<div class="row">
    <h1>Информация о блокчейне</h1>
    <div class="row">
        <div class="col-lg-12">
            <h3>Создание последовательности</h3>
            <div class="col-lg-offset-3 col-lg-6 text-center">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Blockchain Title" ng-model="$ctrl.blockchainTitle">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Blockchain Date" ng-model="$ctrl.blockchainDate">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Document Date" ng-model="$ctrl.documentDate">
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Previous Hash" ng-model="$ctrl.previousHash">
                </div>
                <div>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.createBlockchain()">Создать blockchain</button>
                    </span>
                </div>
            </div>

            <!--<div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Blockchain Title" ng-model="$ctrl.blockchainTitle">
            </div>
            <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="Blockchain Date" ng-model="$ctrl.blockchainDate">
            </div>
            <div class="input-group mb-3 col-md-6">
                <input type="text" class="form-control" placeholder="Document Date" ng-model="$ctrl.documentDate">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Previous Hash" ng-model="$ctrl.previousHash">
            </div>
            <div class="input-group">
                <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.createBlockchain()">Создать blockchain</button>
                </span>
            </div>-->

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Сравнение хешей</h3>
        </div>

        <form class="form-inline" ng-submit="$ctrl.checkHashes()">
            <textarea name="hashes" ng-list="&#10;" ng-trim="false" ng-model="$ctrl.hashes" required cols="40" rows="5"></textarea>
            <button type="submit" class="btn btn-default">Сравнить хэши</button>
        </form>
        <div class="container" ng-show="$ctrl.hashesCompareResult">
            <div class="col-lg-12">
                <h3> result - {{$ctrl.hashesCompareResult}}</h3>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-12">
            <h3>Получение хеша по id хешей</h3>
        </div>

        <form class="form-inline" ng-submit="$ctrl.getHasheById()">
            <input ng-trim="false" ng-model="$ctrl.hashId" required>
            <button type="submit" class="btn btn-default">получить хэш</button>
        </form>
        <div class="container" ng-show="$ctrl.hasheInfo">
            <div class="col-lg-12">
                <h3><pre>{{$ctrl.hasheInfo|json}}</pre></h3>
            </div>
        </div>
    </div>


</div>