<div class="row">
    <div class="col-lg-12">
        <h3>Сравнение загружаемых документов</h3>
        <form ng-submit="$ctrl.compareDocuments()" name="fileCompare" novalidate>
            <div class="form-group col-md-6">
                <div class="form-check">
                    <input name="file" class="form-check-input" type="file" file-model="$ctrl.myFile" required/>
                </div>
                <div ng-messages="fileCompare.file.$error" style="color:maroon" role="alert" ng-show="fileCompare.$submitted" required>
                    <div ng-message="required">Добавьте документ №1</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-check">
                    <input name="file1" class="form-check-input" type="file" file-model="$ctrl.myFile1" required/>
                </div>
                <div ng-messages="fileCompare.file1.$error" style="color:maroon" role="alert" ng-show="fileCompare.$submitted" required>
                    <div ng-message="required">Добавьте документ №2</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-md-2">Сравнить документы</button>
        </form>
        <div class="form-group col-md-12" ng-show="$ctrl.resultCompare">
            <p>
                <span>Совпадение</span> <span ng-bind="$ctrl.resultCompare.matchingResult">%</span>
            </p>
            <p>
                <span>Совпадение мега шилингов</span> <span ng-bind="$ctrl.resultCompare.megaShingles"></span>
            </p>
            <p>
                <span>Совпадение супер шилингов</span> <span ng-bind="$ctrl.resultCompare.superShingles"></span>
            </p>
            <button ng-click="$ctrl.clearResultCompare()" class="btn btn-primary col-md-2">Очистить результаты</button>
        </div>
    </div>
    <hr>
    <div class="col-lg-12">
        <h3>Сравнение документа из базы данных и загружаемого документа</h3>
        <form ng-submit="$ctrl.compareDocuments1()" name="fileCompare1" novalidate>
            <div class="form-group col-md-6">
                <div class="form-check" ng-if="$ctrl.documents.length">
                    <ui-select ng-model="$ctrl.title" theme="select2" style="width: 300px;" title="Выберите документ" >
                        <ui-select-match placeholder="Выберите документ из списка">{{$select.selected.title}}</ui-select-match>
                        <ui-select-choices group-by="$ctrl.filterTitle" repeat="doc in $ctrl.documents | filter: $select.search">
                            <span ng-bind="doc.title | highlight: $select.search"></span>
                            <!--<small ng-bind-html="country.code | highlight: $select.search"></small>-->
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-messages="fileCompare2.title.$error" style="color:maroon" role="alert" ng-show="fileCompare2.$submitted" required>
                    <div ng-message="required">Выберите документ №1</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-check">
                    <input name="file2" class="form-check-input" type="file" file-model="$ctrl.myFile2"/>
                </div>
                <div ng-messages="fileCompare2.file3.$error" style="color:maroon" role="alert" ng-show="fileCompare2.$submitted" required>
                    <div ng-message="required">Добавьте документ №2</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-md-2">Сравнить документы</button>
        </form>
        <div class="form-group col-md-12" ng-show="$ctrl.resultCompare1">
            <p>
                <span>Совпадение</span> <span ng-bind="$ctrl.resultCompare1.matchingResult">%</span>
            </p>
            <p>
                <span>Совпадение мега шилингов</span> <span ng-bind="$ctrl.resultCompare1.megaShingles"></span>
            </p>
            <p>
                <span>Совпадение супер шилингов</span> <span ng-bind="$ctrl.resultCompare1.superShingles"></span>
            </p>
            <button ng-click="$ctrl.clearResultCompare1()" class="btn btn-primary col-md-2">Очистить результаты</button>
        </div>
    </div>
    <hr>
    <div class="col-lg-12">
        <h3>Сравнение двух документов из базы данных</h3>
        <form ng-submit="$ctrl.compareDocuments2(fileCompare2)" name="fileCompare2" novalidate>
            <div class="form-group col-md-6">
                <div class="form-check" ng-if="$ctrl.documents.length">
                    <ui-select name="title1" ng-model="$ctrl.title1" theme="select2" style="width: 300px;" title="Выберите документ" required>
                        <ui-select-match placeholder="Выберите документ из списка">{{$select.selected.title}}</ui-select-match>
                        <ui-select-choices group-by="$ctrl.filterTitle" repeat="doc in $ctrl.documents | filter: $select.search">
                            <span ng-bind="doc.title | highlight: $select.search"></span>
                            <!--<small ng-bind-html="country.code | highlight: $select.search"></small>-->
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-messages="fileCompare2.title1.$error" style="color:maroon" role="alert" ng-show="fileCompare2.$submitted" required>
                    <div ng-message="required">Выберите документ №1</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-check" ng-if="$ctrl.documents.length">
                    <ui-select name="title2" ng-model="$ctrl.title2" theme="select2" style="width: 300px;" title="Выберите документ" required >
                        <ui-select-match placeholder="Выберите документ из списка">{{$select.selected.title}}</ui-select-match>
                        <ui-select-choices group-by="$ctrl.filterTitle" repeat="doc in $ctrl.documents | filter: $select.search">
                            <span ng-bind="doc.title | highlight: $select.search"></span>
                            <!--<small ng-bind-html="country.code | highlight: $select.search"></small>-->
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div ng-messages="fileCompare2.title2.$error" style="color:maroon" role="alert" ng-show="fileCompare2.$submitted">
                    <div ng-message="required">Выберите документ №2</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-md-2">Сравнить документы</button>
        </form>
        <div class="form-group col-md-12" ng-show="$ctrl.resultCompare2">
            <p>
                <span>Совпадение</span> <span ng-bind="$ctrl.resultCompare2.matchingResult">%</span>
            </p>
            <p>
                <span>Совпадение мега шилингов</span> <span ng-bind="$ctrl.resultCompare2.megaShingles"></span>
            </p>
            <p>
                <span>Совпадение супер шилингов</span> <span ng-bind="$ctrl.resultCompare2.superShingles"></span>
            </p>
            <button ng-click="$ctrl.clearResultCompare2()" class="btn btn-primary col-md-2">Очистить результаты</button>
        </div>
    </div>
</div>